.container {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(225, 126, 77, 0.5);
  border-radius: 20px;
  display: block;
}

.imgWrapper {
  flex: 1;
  text-align: center;
}

.imgWrapper img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.detail {
  margin-bottom: 10px;
}

.detailLabel {
  font-weight: bold;
  margin: 200px;
  text-align: left;
}

.detailContent {
  font-size: large;
  display: block;
}

.details {
  margin: auto;
  border-bottom: 0 solid grey;
  transition: border-width 0.15s ease-out;
  background-color: white;
}
