.container {
    position: relative;
    /* margin-bottom: 0.5rem; */
    /* border-radius: 0.7rem; */
    padding: 8px 8px;
    border: 2px solid var(--black25);
    width: 100%;
  }
  
  .label {
    display: inline-block;
    /* margin-left: 0.5rem; */
    color: var(--black75);
    font-size: var(--h6-weight);
  }
  
  .content {
    /* padding: 0 0.5rem; */
    /* height: 2.7rem; */
    display: flex;
    align-items: center;
  }