.header{
    background: white;
    padding: 0;
    border-bottom: 2px solid #e17e4d83;
    /* 80D261 */
}

.header a{
    color: #E17E4D;
}

.header a:hover{
    background:#E17E4D;
    color: white;
    cursor: pointer;
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    padding:1rem;
}
.logoImg
{
    max-width: 40px;
}
.header ul{
    display: flex;
    list-style-type: none;
    margin:0;
}

.header ul a{
    padding: 1rem;
    display: inline-block;
}

.menu_container{
    position: relative;
}
.menu{
    position: absolute;
    z-index: 1;
    background-color: whitesmoke;
    display: none;
}

.menu_container:hover .menu{
    display: block;
}

.menu a{
    width: 100%;
    min-width: 8rem;
}

.cart_count{
    background-color: #E17E4D;
    color:white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size: 0.9rem;
    margin-left: 8%;
}
.header li
{
    list-style-type: none;
}