.table {
  width: 100%;
  border: 2px solid var(--black25);
  /* margin-top: 4px; */
  /* border-radius: 5px; */
  padding: 8px 8px;
}

.table td {
  height: 3rem;
  font-size: var(--h5-size);
  align-items: center;
  justify-content: center;
}

.dot{
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border: transparent;
}

.img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border: 2px solid var(--black75);
}



.table h3 {
  font-size: var(--h5-size);
  font-weight: var(--h5-weight);
  color: var(--black75);
}
.table a:hover {
  opacity: 0.6;
}

.notAvailable {
  text-align: center;
  color: #e4e4e4;
  font-size: 2.5rem;
  background-color: #d0342c;
}

.bottom_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.total_price{
  font-size: var(--h4-size);
  font-weight: var(--h3-weight);
}
